@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-accent-green: var(--accent-green);
  --color-danger-red: var(--danger-red);
  --color-neutral-gray: var(--neutral-gray);
  --color-bg-base: var(--bg-base);
  --color-bg-card: var(--bg-card);
  --color-border: var(--border);
  --color-highlight: var(--highlight);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius: 0.5rem;
}

:root {
  --primary: #1d2c3a;
  --accent-green: #3ba66b;
  --danger-red: #e84855;
  --neutral-gray: #7a8b9c;
  --bg-base: #faf9f8;
  --bg-card: #ffffff;
  --border: #e2e8f0;
  --highlight: #fdf6ec;
  --background: oklch(1 0 0);
  --foreground: oklch(0.143 0.004 277.6169575468132);
}

.dark {
  --primary: #1d2c3a;
  --accent-green: #3ba66b;
  --danger-red: #e84855;
  --neutral-gray: #7a8b9c;
  --bg-base: #0f172a;
  --bg-card: #1e293b;
  --border: #334155;
  --highlight: #1e293b;
  --background: var(--primary);
  --foreground: oklch(1 0 0);
}

@layer base {
  body {
    @apply bg-background text-foreground font-[family-name:var(--font-inter)];
  }
}

@layer components {
  .nav-link {
    @apply text-foreground hover:bg-neutral-gray/30 transition-colors duration-400 cursor-pointer p-2 rounded-md;
  }

  .separator {
    @apply border-b border-neutral-gray/30 my-2;
  }
}
